body {
  background-color: #D7ECF4;
  background-image: url(images/back.png);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}
